echo
hashdict-insert-remove-bench
hashdict-insert-remove-bench-base
hashdict-insert-remove-bench-change
abslhash-u64-bench
abslhash-u64-bytes-bench
abslhash-1k-list-bench
wyhash-u64-bench
wyhash-u64-bytes-bench
wyhash-1k-list-bench
wyhash-1k-list-stateful-bench
wyhash-1k-list-stateful-list-bench
wyhash-1k-list-with-copy-bench